.card-img-left{
  width:350px;
  height: 205px;
}

#card-genre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width:450px)  {
  .card-img-left{
    width:50%;
    height: 205px;
  }
  
  #card-genre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
}
