.title-logo{
  width:75px

}
.home-nav,.new-nav{
  text-decoration: none;
  color:white;
}
.nav-bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 1em;
  top:0 ;
  right: 0;
  background-color: black;
}